body {
  background-color: #86D1EA;
}
nav {
  width: 100%;
  font-family: poppins;
  text-align: center;
  margin-top: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-color: grey;

}
#name {
  margin-right:  160px;
  font-weight: bold;
}
#number {
  margin-left: 160px;
  font-weight: bold;
}
a {
  text-align: center;
  margin-right: 25px;
  font-style: bold;
  font-size: 18px;
  color: black;
}
a:hover {
  color: #25A5D0;
  font-size: 21px;
}
.item-a {
  display: grid;
  grid-template-columns: 800px auto;
  margin-top: 80px;
}
h1 {
  font-family: poppins;
  margin-left: 120px;
  font-size: 40px;
}
span {
  color: navy;
}
#circle {
  margin-left: 180px;
  margin-top: 20px;
  width: 220px;
}
h2 {
  font-family: poppins;
  margin-left: 120px;
  margin-top: 45px;
  font-size: 18px;
}
p {
  font-family: poppins;
  margin-left: 120px;
  font-size: 16px;
  margin-top: 5px;
}
.item-b {
  display: grid;
  grid-template-columns: 800px auto; 
}
.pict {
  margin-top: 80px;
  padding-left: 250px;
}
.item-c {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  margin-left: 120px;
  margin-top: 50px;
  border-top: solid;
  border-color: grey;
  border-width: 100%;
  border-width: 1px;
}
.img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#pict1 {
  margin-top: -30px;
}
#pict2 {
  width: 350px;
  margin-left: -100px;
  margin-top: 100px;
}
h3 {
  margin-top: 100px;
  width: 90%;
  font-family: poppins;
  margin-left: 25px;
}
#text {
  margin-left: 25px;
}
#panah {
  margin-top: -40px;
}
.item-d {
  display: grid;
  grid-template-columns: 300px 500px 100px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-column-gap: 100px;
  margin-left: 120px;
}
h4 {
  font-family: poppins;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 10px;
}
#date {
  font-size: 16px;
  color: grey;
  line-height: 14px;
  margin-top: 90px;
}
li {
  list-style: none;
  font-family: poppins;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}
#place {
  font-family: poppins;
  color: grey;
  margin-left: 10px;
  font-size: 16px;
}
#position {
  font-family: poppins;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
#arrow {
  margin-top: 70px;
}
.item-e {
  display: grid;
  grid-template-columns: 800px 10px 0px;
  margin-top: 200px;
  margin-left: 150px;
}
