body {
	background-color: lightblue;
}

.navbar{
	width: 100%;
	font-family: poppins;
	text-align: center;
	margin-top: 15px;
	border-bottom: solid;
	border-width: 2px;

}
a:hover {
	color: navy;
	font-size: 21px;
}
a {
	text-align: center;
	margin-right: 25px;
	font-style: bold;
	font-size: 18px;
	color: black;
}
#name {
	margin-right:  160px;
	font-weight: bold;
}
#number {
	margin-left: 160px;
	font-weight: bold;
}
hr {
	margin-top: 15px;
	border-color: black;

}
div.text {
	width: 60%;	
}
h1 {
	font-family: poppins;
	margin-left: 120px;
	font-size: 40px;

}
strong {
	color: navy;
}
#circle {
	margin-left: 780px;
	margin-top: -200px;
	width: 230px;

}
h2 {
	font-family: poppins;
	margin-left: 120px;
	margin-top: 45px;
	font-size: 18px;
}
p {
	font-family: poppins;
	margin-left: 120px;
	font-size: 16px;
	margin-top: 5px;
}
div.pict {
	margin-left : 1075px;
	word-spacing: 8px; 
	margin-bottom: 5px;
	margin-top: 50px;
}
div.img {
	width: 50%;
	height: 100px;
	margin-left: 120px;
	margin-top: 50px;
	
}
#pict1 {
	margin-left: 10px;
	margin-top: 0px;
}
#pict2 {
	margin-left: 280px;
	height: 300px;
}
#text1 {
	width: 270px;
	margin-left: 50px;

}
div.container {
	display: flex;
}
#panah {
	margin-left: 1075px;
	margin-top: 2px;
	display: flex;
}
h3 {
	font-family: poppins;
	width: 30%;
	margin-left: 800px;
}
#header2 {
	margin-top: 70px;
	text-align: center;
	font-size: 50px;
	margin-left: 0px;
}
h4 {
	font-family: poppins;
	margin-top: 25px;
	font-size: 20px;
	margin-left: 410px;
}
#place {
	font-size: 16px;
	margin-left: 10px;
	color: #A9A9A9;

}
#year {
	font-size: 16px;
	text-align: justify;
	margin-left: 125px;
	color: #A9A9A9;
}
#position {
	margin-left: 138px;
	color: black;
}
#position1 {
	margin-left: 203px;
	color: black;
}
#line2{
	margin-left: 200px;
	width: 60%;
}
#arrow {
	margin-left: 570px;
	height: 18px;
}
.container {
	width: 100%;
	margin-right: 20px;
	margin-left: 20px;
}
#picture {
	margin-top: 100px;
	margin-left: 360px;
}
#paragraph {
	margin-top: 100px;
	background-color: white;
	width: 13%;
	margin-left:0px;
}
#info {
	color: black;
	text-align: justify-all;
}
h5 {
	font-family: poppins;
	font-size: 18px;
	text-align: center;
	margin-left : 120px;
}
.skills1{
	width: 300px;
	margin-left: 100px;
}
.skills2{
	width: 380px;
	margin-left: 20px
}
.skills3{
	width: 300px;
	margin-left: 20px;
}
#check {
	margin-left: 120px;
}
#tools {
	margin-left: 138px;
	color: black;
	margin-top: 0px;
}
#line3 {
	width: 40%;
}
.love {
	margin-top: 0px;
}
#abc {
	margin-top: 100px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 410px;
}
h6 {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 120px;
	font-family: poppins;
	font-size: 14px;
	color: #A9A9A9;
}
.last {
	background-color: white;
	margin-top: 300px;
	width: 95%;
	margin-left: 37px;
	margin-right: 150px;
	margin-bottom: 20px;
}
#lastpict {
	margin-top: -150px;
	width: 800px;
	height: 400px;
	margin-left: 250px;
}
.contact {
	margin-left: 260px;
	margin-top: : 40px;
	margin-bottom: 80px;
	width: 60px;
	font-family: poppins;
	color: black;
}
.lasttext {
	margin-left: 120px;
}
#contact {
	margin-left: 120px;
	font-size: 25px;
}

@media (max-width: 320px) {
	body {
	background-color: lightblue;
}
nav {
    width: 100%;
    display: flow-root;
}
.navbar {
    width: 100%;
    font-family: poppins;
    text-align: center;
    margin-top: 5px;
    border-bottom: solid;
    border-width: 1px;
}
a:hover {
	color: navy;
	font-size: 13px;
}
a {
    text-align: center;
    margin-right: 5px;
    font-style: bold;
    font-size: 12px;
    color: black;
}
.text {
    width: 50%;
    margin-left: 20px;
}
h1 {
    font-family: poppins;
    margin-left: 12px;
    font-size: 12px;
    margin-top: 10px;
}
strong {
    color: navy;
}
#circle {
    margin-top: -220px;
    width: 100px;
    margin-left: 132px;
}
h2 {
    font-family: poppins;
    margin-left: 12px;
    margin-top: 15px;
    font-size: 8px;
}
#year {
    font-size: 5px;
    text-align: justify;
    margin-left: 12px;
    color: #A9A9A9;
}
.pict {
    margin-left: 110px;
    word-spacing: 8px;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 120px;
}
}