body {
  background-color: #86D1EA;
}
nav {
  width: 100%;
  font-family: poppins;
  text-align: center;
  margin-top: 20px;
  border-bottom: solid;
  border-width: 1px;
  border-color: grey;

}
#name {
  margin-right:  160px;
  font-weight: bold;
}
#number {
  margin-left: 160px;
  font-weight: bold;
}
a {
  text-align: center;
  margin-right: 25px;
  font-style: bold;
  font-size: 18px;
  color: black;
}
a:hover {
  color: #25A5D0;
  font-size: 21px;
  cursor: pointer;
}
.item-a {
  display: grid;
  grid-template-columns: 800px auto;
  margin-top: 80px;
}
h1 {
  font-family: poppins;
  margin-left: 120px;
  font-size: 40px;
}
span {
  color: navy;
}
#circle {
  margin-left: 180px;
  margin-top: 20px;
  width: 220px;
}
h2 {
  font-family: poppins;
  margin-left: 120px;
  margin-top: 45px;
  font-size: 18px;
}
p {
  font-family: poppins;
  margin-left: 120px;
  font-size: 16px;
  margin-top: 5px;
}
.item-b {
  display: grid;
  grid-template-columns: 800px auto; 
}
.pict {
  margin-top: 80px;
  padding-left: 250px;
}
.item-c {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  margin-left: 120px;
  margin-top: 50px;
  border-top: solid;
  border-color: grey;
  border-width: 100%;
  border-width: 1px;
}
.img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#pict1 {
  margin-top: -30px;
}
#pict2 {
  width: 350px;
  margin-left: -100px;
  margin-top: 100px;
}
h3 {
  margin-top: 100px;
  width: 90%;
  font-family: poppins;
  margin-left: 25px;
}
#text {
  margin-left: 25px;
}
#panah {
  margin-top: -40px;
}
h4 {
  font-family: poppins;
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
  margin-bottom: 10px;
}
.item-d {
  display: grid;
  grid-template-columns: 300px 500px 100px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-column-gap: 100px;
  margin-left: 100px;
}
.date {
	margin-top: -40px;
}
#loadicon {
	width: 195px;
	margin-bottom: -170px;
	opacity: 45%;
}
#date {
  font-size: 16px;
  color: grey;
  line-height: 14px;
  margin-top: 90px;
}
li {
  list-style: none;
  font-family: poppins;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}
#place {
  font-family: poppins;
  color: grey;
  margin-left: 10px;
  font-size: 16px;
}
#position {
  font-family: poppins;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
#line {
	border : solid;
	border-width: 1px;
	margin-top: 5px;
}
#arrow {
  margin-top: 80px;
}
.item-e {
  display: grid;
  grid-template-columns: 250px 180px 0px;
  margin-top: 200px;
  margin-left: 380px;
}
#download {
	background-color: white;
	width: 100%;
	margin-left: 140px;
	margin-top: -10px;
	margin-bottom: 10px;
}
#img {
	margin-left: 35px;
	margin-top: 15px;
}
#text-1 {
	font-family: poppins;
	font-weight: bold;
	letter-spacing: 1px;
	margin-left: 5px;
	margin-bottom: 50px;
}
#text-2 {
	font-size: 12px;
	font-family: poppins; 
	margin-left: 5px;
	font-weight: bold;
}
button {
	background-color: blue;
	font-family: poppins;
	font-weight: bold;
	border-radius: 100px;
	margin-left: 35px;

}
.item-f {
	display: grid;
	grid-template-columns: 270px 270px 270px;
	margin-left: 150px;
  margin-top: 50px;
	column-gap: 80px;
}
#a {
  margin-left: 100px;
}
h5 {
	font-family: poppins;
	font-size: 20px;
	text-align: center;
}
#text-3 {
	margin-left: 0px;
}
.item-g {
	display: grid;
	grid-template-columns: 100%;
	margin-left: 150px;
	margin-top: 50px;
}
#abc {
	margin-top: 50px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 288px;
}
#check {
	margin-left: 120px;
}
#tools {
	margin-left: 138px;
	color: black;
	margin-top: 0px;
	font-family: poppins;
}
#line-1{
	border: solid;
	width: 40%;
	border-width: 1px;
	margin-left: 290px;
	margin-top: 10px;
}
.item-h {
	display: grid;
	grid-template-columns: 100%;
	background-color: white;
	margin-top: 300px;
	width: 95%;
	margin-left: 37px;
	margin-right: 150px;
	margin-bottom: 20px;
}
#lastpict {
	margin-top: -150px;
	width: 800px;
	height: 400px;
	margin-left: 250px;
}
.contact {
	display: grid;
	grid-template-columns: 100px 100px 100px;
  margin-left: 130px;
}
h6 {
  font-family: poppins;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 130px;
  border-bottom: solid;
  border-width: 1px;
  width: 80%;
}
.contact1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	width: 60px;
	font-size: 8px;
	margin-left: 130px;
}
#contact {
  text-align: justify;
	margin-left: 130px;
	font-size: 25px;
}

@media (max-width: 600px;) {
body {
  background-color: lightblue;
}
nav {
    width: auto;
    font-family: poppins;
    text-align: center;
    margin-top: 5px;
    border-bottom: solid;
    border-width: 1px;
}
a:hover {
  color: navy;
  font-size: 13px;
}
a {
    width: auto;
    text-align: center;
    margin-right: 5px;
    font-style: bold;
    font-size: 12px;
    color: black;
}
#name {
  display: none;
}
#number {
  display: none;
}
.item-a {
    width: 60%;
    margin-left: 20px;
}
h1 {
    font-family: poppins;
    margin-left: 12px;
    font-size: 12px;
    margin-top: 10px;
}
span {
    color: navy;
}
#circle {
    margin-top: -250px;
    width: 100px;
    margin-left: 102px;
}
h2 {
    font-family: poppins;
    margin-left: 12px;
    margin-top: 15px;
    font-size: 8px;
}
#date {
    font-size: 5px;
    text-align: justify;
    margin-left: 12px;
    color: #A9A9A9;
}
.img {
    margin-left: 80px;
    word-spacing: 8px;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 120px;
}
}
